// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-app: #003049;
$red-app: #d62828;
$orange-app: #f77f00;
$yellow-app: #fcbf49;
$white-app: #eae2b7;
$azul: #2CC1EB;

.white-text {
  color: $white-app;
}

.bg-dark-app {
  background-color: $dark-app!important;
  color: $orange-app!important;
}
