.earnings {
  border: 1px solid $dark-app;
  background-color: $yellow-app;
  border-radius:4px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}