<% if policy(Book).new?  %>
  <%= link_to "Want to sell a book ?", new_book_path, class: "mx-auto hover-underline" %>
<% end %>

<h1 class="text-center mb-3">Book-King library</h1>

  <form action=<%= books_path %> method="GET" class="my-4 offset-md-3 col-md-6 position-relative mb-5" data-remote="true">
    <span id="link-no-query"><%= render "link_no_query" %></span>
    <div class="input-group search-bloc">
      <input class="form-control py-2" name="query" type="search" placeholder="Harry Potter">
      <span class="input-group-append">
        <button class="btn btn-outline-warning" type="submit" id="search-button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>


<div class="container-wrap" id="books-container">
  <%= render "render_books" %>
</div>

