<h1 class="text-center">Your cart</h1>
<% @cart.cart_elements.each do |cart_element| %>
  <div><%= cart_element.book.title %></div>
  <div><%= humanized_money_with_symbol(cart_element.book.price) %></div>
<% end %>