.button {
  padding: 4px 8px;
  border-radius: 4px;
  color: $dark-app;
  &:hover {
    text-decoration: none;
    color: $dark-app;
    cursor: pointer;
  }
}

.btn-orange-ext {
  transition-duration: 0.4s;
  border: $orange-app solid 0.5px;
  &:hover {
    border: $orange-app solid 0.5px;
    background-color: $orange-app;
  }
}
.btn-orange-int {
  background-color: $orange-app;
  border: $dark-app solid 0.5px;
  &:hover {
    background-color: $yellow-app;
    border: $dark-app solid 0.5px;
  }
}