.navbar {
  i {
    font-size: 24px;
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}

.dropdown-item {
    color: $orange-app;
}

#cart-nav-bar {
  i {
    position: relative;
    .notif-number {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid $orange-app;
      background-color: $dark-app;
      color: white;
      font-size: 12px;
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 991px) {
  .dropdown-menu-right {
    right: auto;
  }
}